/*Pratishta Yerakala (2018) CSS for pratishta.com*/

body {
  text-align: center;
  color: #6F798D;
  font-family: 'Montserrat';
	margin-top: 250px;
	margin-bottom: 50px;
	background: none;
}

body a.icon:hover {
  color: #FF8A80;
}

.day {
  background: white;
  color: #6F798D;
}

.day a.icon:hover {
  color: #FF8A80;
}

.night {
  background: #243447;
  color: #FF8A80;
}

.night a.icon:hover {
  color: #C4493F;
}

.nightmodetoggle {
  position: absolute;
  top: 16px;
  right: 16px;
}

content {
  margin: 0 auto;
}

i {
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
}

a {
  color: inherit;
}

/*a:hover {
    color: #FF8A80; 
    }*/

    .toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px; }
  .toggle.ios .toggle-handle { border-radius: 20px; 
    color: red;}

.btn-moon, .btn-moon:hover, .btn-moon:active, .btn-moon:visited {
    background-color: #243447;
    border-color: #243447;
    color: white;
}

.btn-sun, .btn-sun:hover, .btn-sun:active, .btn-sun:visited {
    background-color: white;
    border-color: #6F798D;
    color: #6F798D;
}

.toggle-on.btn-xs {
    padding-right: 10px !important;
}

.toggle-off.btn-xs {
    padding-left: 10px !important;
}
/*official night mode color:
background : #243447
text: #FBE7C3
link hover: #ff8a80

official day mode color: 
background : white
text:  #6F798D
link hover: #ff8a80*/