<!DOCTYPE html>
	<html>
		<head>
                        <meta name="viewport" content="width-device-width, initial-scale=1">
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
                        <link rel="stylesheet" href="/css/normalize.css">
                        <link rel="stylesheet" href="/css/skeleton.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">about</a></li>
	        		<li><a href="/contact me">contact</a></li>
	        		<li><a href="/blog">blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:py2211@columbia.edu>email</a></li>
	        		<li><a href="https://github.com/prattography">github.com/prattography</a></li>
				</ul>
			</footer>
		</body>
	</html>
